@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";


body {
    height: 100vh;
    background-color: #dfdfdf;
    display:flex;
    justify-content: center;
    align-items: center;
}
.conteudo {
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3px;
}

.controls > * {
    margin: 0 10px;
}